* {
	margin: 0;
	border: 0;
	padding: 0;
	font: 12px/1.5 tahoma, '\5FAE\8F6F\96C5\9ED1', sans-serif;
}

body {
	min-width: 1380px;
	background-color: #EEE;
}

a {
	text-decoration: none;
}

.lol-head {
	width: 100%;
	height: 78px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 11;
}

.head-center {
	width: 100%;
	max-width: 1358px;
	min-width: 1230px;
	height: 78px;
	margin: 0 auto;
}

.head-center>ul {
	width: 55%;
	height: 78px;
	float: left;
	margin-left: 30px;
	margin-top: 16px;
	list-style: none;
}

.head-center>ul>li {
	float: left;
	width: 20%;
	height: 78px;
	text-align: center;
}

.nav-first {
	letter-spacing: 1px;
	display: block;
	color: #FFF;
	font-size: 18px;
}

.nav-second {
	margin-top: -1px;
	letter-spacing: 1px;
	color: #aeaeae;
	font-size: 11px;
}

.lol-logo {
	float: left;
	margin-top: 14px;
}

.head-right {
	width: 367px;
	height: 78px;
	float: right;
}

.head-right-search {
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin: 17px 12px 0 0;
	float: right;
	text-align: center;
}

.lol-icon-search {
	vertical-align: middle;
	width: 21px;
	height: 21px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/topfoot-spr.png);
	background-size: 405px 178px;
	background-repeat: no-repeat;
	background-position: -381px -39px;
	display: inline-block;
}

.input-search {
	width: 368px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: #FFF;
	background: #081322;
	margin: 19px 200px 0 0;
	border: none;
	padding-left: 5px;
	float: left;
	margin-left: -550px;
	margin-top: -40px;
	outline: 0;
	display: none;
}

.close-search {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: 17px 6px 0 0;
	float: left;
	margin-left: -600px;
	margin-top: -35px;
}

.lol-icon-X {
	width: 18px;
	height: 18px;
	background-image: url(//game.gtimg.cn/images/lol/v3/topfoot-spr.png);
	background-size: 405px 178px;
	background-repeat: no-repeat;
	background-position: -324px -84px;
	display: inline-block;
}

.head-right-app {
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin: 17px 31px 0 0;
	float: right;
	text-align: center;
}

.lol-icon-app {
	vertical-align: middle;
	width: 16px;
	height: 24px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/topfoot-spr.png);
	background-size: 405px 178px;
	background-repeat: no-repeat;
	background-position: -303px -84px;
	display: inline-block;
}

.head-app-hover {
	width: 211px;
	height: 178px;
	position: absolute;
	top: 68px;
	right: 270px;
	background-image: url(//game.gtimg.cn/images/lol/v3/topfoot-spr.png);
	background-size: 405px 178px;
	background-repeat: no-repeat;
	background-position: 0 0;
	display: none;
}

.lol-icon-erwei {
	width: 120px;
	height: 120px;
	line-height: 117px;
	text-align: center;
	background: #FFF;
	margin: 22px auto 0 auto;
	border-radius: 10px;
	display: block;
}

.lol-icon-erwei>img {
	width: 110px;
	height: 110px;
	vertical-align: middle;
	display: inline-block;
}

.head-app-hover>.p1 {
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #cdbe91;
	margin-top: 10px;
}

.head-app-hover>.polo {
	width: 50px;
	height: 50px;
	position: absolute;
	right: -8px;
	bottom: -2px;
	display: block;
}

.head-right-login {
	float: right;
	width: 244px;
	height: 78px;
	position: relative;
	z-index: 3;
}

.login-userinfo {
	float: left;
	width: 48px;
	height: 48px;
	position: relative;
	margin-top: 14px;
	line-height: 48px;
	text-align: center;
	font-size: 0;
}

.login-userinfo>a {
	float: left;
	width: 48px;
	height: 48px;
	position: relative;
	line-height: 48px;
	text-align: center;
	font-size: 0;
}

.login-userinfo>a>img {
	width: 36px;
	border-radius: 50%;
	line-height: 48px;
	text-align: center;
	vertical-align: middle;
}

.login-userinfo>a>span {
	width: 48px;
	height: 48px;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/topfoot-spr.png);
	background-size: 405px 178px;
	background-repeat: no-repeat;
	background-position: -216px -117px;
}

.login-userinfo>a {
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
}

.login-font {
	float: left;
	margin-left: 10px;
}

.login-font>p {
	color: #FEFEFE;
	font-size: 16px;
	line-height: 78px;
}

.login-font>p>a {
	color: #FFF3D0;
	font-size: 16px;
}

.lol-head-img {
	width: 100%;
	min-width: 1230px;
	height: 360px;
	overflow: hidden;
	position: relative;
	background: center top no-repeat;
	transition: height .6s, background, .6s;
}

.lol-head-img.big {
	height: 720px !important;
}

.lol-head-small-img {
	position: absolute;
	left: 50%;
	top: 0;
	width: 1920px;
	height: 100%;
	margin-left: -960px;
	opacity: 0;
	transition: opacity 0.6s;
}

.lol-head-big-img {
	position: absolute;
	left: 50%;
	top: 0;
	width: 1920px;
	height: 100%;
	margin-left: -960px;
	z-index: 1;
}

.lol-dark-mask {
	width: 100%;
	min-width: 1378px;
	height: 130px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(//ossweb-img.qq.com/images/lol/v3/dark-jianbian-repeatx-0.png) repeat center top;
	z-index: 1;
}

.lol-topact-inner {
	width: 100%;
	max-width: 1358px;
	min-width: 1230px;
	height: 100%;
	position: relative;
	margin: 0 auto;
	background: red;
}

.lol-topact-inner>a {
	width: 160px;
	height: 40px;
	position: absolute;
	left: 50%;
	margin-left: -77px;
	bottom: 32px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/topfoot-spr.png);
	background-size: 405px 178px;
	background-repeat: no-repeat;
	background-position: -216px -39px;
	display: block;
	z-index: 10;
}

.lol-version {
	right: 0;
	position: absolute;
	bottom: 28px;
	font-size: 14px;
	color: #888787;
	z-index: 10;
}

.lol-version>em {
	color: #F5D185;
	margin-right: 10px;
	font-size: 14px;
	font-style: normal;
	z-index: 10;
}

.lol-version>a {
	display: inline-block;
	height: 22px;
	padding: 0 15px;
	border: 2px #F5D185 solid;
	text-align: center;
	line-height: 22px;
	background: rgba(0, 0, 0, 0.6);
	font-size: 12px;
	color: #F5D185;
	border-image: linear-gradient(to bottom, #6B5024 0, #B88D35 100%);
	border-image-slice: 1;
	z-index: 10;
}

.lol-content {
	width: 100%;
	min-width: 1230px;
	margin: 0 auto;
}

.content-active {
	width: 1358px;
	padding: 40px 0 80px 0;
	margin: 0 auto;
	overflow: hidden;
	height: 1200px;
}

.active-promo {
	float: left;
	width: 820px;
	height: 380px;
	background: #E3E2E2;
	position: relative;
}

.promo-top {
	width: 820px;
	height: 340px;
	background: darkcyan;
	position: absolute;
	overflow: hidden;
}

.promo-top>ul {
	position: absolute;
	width: 4100px;
	height: 340px;
	float: left;
	transition: all 0.2s;
}

.promo-top>ul>li {
	width: 820px;
	height: 340px;
	float: left;
}

.promo-bottom {
	bottom: 0;
	width: 820px;
	height: 40px;
	position: absolute;
}

.promo-bottom>span {
	width: 164px;
	height: 40px;
	font-size: 14px;
	text-align: center;
	line-height: 40px;
	letter-spacing: 1px;
	box-sizing: border-box;
	float: left;
}

.default {
	color: #AB8E66;
	background-color: #F7F6F6;
	border-bottom: 2px #CEA861 solid;
}

/* @keyframes removeDefault{
	from{
		color: #AB8E66;
		background-color: #F7F6F6;
		border-bottom: 2px #CEA861 solid;
	}
	to{
		
	}
} */

.promo-bottom>span:hover {
	color: #AB8E66;
	background-color: #F7F6F6;
	border-bottom: 2px #CEA861 solid;
}

.promo-bottom-span-show {
	color: #AB8E66;
	background-color: #F7F6F6;
	border-bottom: 2px #CEA861 solid;
}

.promo-bottom-span-hide {
	color: #424242;
	background-color: #E3E2E2;
}

.active-news {
	width: 496px;
	height: 380px;
	float: right;
	overflow: hidden;
}

.news-top {
	width: 496px;
	height: 35px;
	overflow: visible;
	box-sizing: border-box;
	float: right;
	border-bottom: 1px #E0E2E2 solid;
	position: relative;
}

.news-top-title {
	width: 596px;
	height: 35px;
	left: 0;
	position: absolute;
	box-sizing: border-box;
	border-bottom: 1px #E0E2E2 solid;
}

.news-top-title>li {
	width: auto;
	min-width: 40px;
	height: 37px;
	float: left;
	position: relative;
	color: #676767;
	overflow: visible;
	list-style: none;
	cursor: pointer;
	letter-spacing: 1px;
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	margin-right: 74px;
}

.news-top-title>li:after {
	content: '\0020';
	position: absolute;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/tab-title-selected.png);
	background-position: center center;
	box-sizing: border-box;
	display: none;
	width: 100%;
	height: 7px;
	left: 0;
	bottom: 0;
	transition: width .2s, left .2s, margin-left .2s;
}

.news-middle {
	width: 496px;
	height: 305px;
}

.news-middle-ul {
	width: 496px;
	height: 275px;
	position: relative;
	margin-top: 35px;
}

.news-middle-ul-first {
	width: 496px;
	height: 59px;
	list-style: none;
	text-align: center;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0 12px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/index-spr.png);
	background-size: 638px 572px;
	background-repeat: no-repeat;
	background-position: 0 -458px;
}

.news-middle-ul-first>a {
	font-size: 22px;
	font-weight: 700;
	line-height: 59px;
	color: #0DA0B4;
}

.news-middle-ul-first>a:hover {
	color: #BB9A6C;
}

.newsitem {
	width: 496px;
	height: 40px;
	line-height: 39px;
	text-align: left;
	border-top: 1px #E0E2E2 solid;
	overflow: hidden;
	box-sizing: border-box;
	font-size: 0;
	list-style: none;
}

.news-middle-notice .item-type {
	width: 36px;
	height: 20px;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	color: #BB9A6C;
	border: 1px #C5AB86 solid;
	display: inline-block;
	vertical-align: middle;
}

.news-middle-notice>a:hover {
	color: #BB9A6C;
}

.news-middle-video .item-type {
	width: 36px;
	height: 20px;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	color: #E9852D;
	border: 1px #E9852D solid;
	display: inline-block;
	vertical-align: middle;
}

.news-middle-video>a:hover {
	color: #E9852D;
}

.news-middle-competition .item-type {
	width: 36px;
	height: 20px;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	color: #6388C5;
	border: 1px #97AFC5 solid;
	display: inline-block;
	vertical-align: middle;
}

.news-middle-competition>a:hover {
	color: #6388C5;
}

.newsitem>a {
	width: 370px;
	height: 39px;
	margin-left: 20px;
	font-size: 14px;
	color: #424242;
	letter-spacing: 1px;
	display: inline-block;
	line-height: 39px;
	vertical-align: middle;
}

.item-time {
	width: 50px;
	height: 39px;
	font-size: 14px;
	color: #9D9D9D;
	overflow: hidden;
	letter-spacing: 1px;
	margin-left: 18px;
	text-align: right;
	line-height: 39px;
	display: inline-block;
	vertical-align: middle;
}

.news-bottom {
	width: 496px;
	height: 40px;
	background-color: #E3E2E2;
	line-height: 40px;
	text-align: center;
	display: block;
	margin-top: 30px;
}

.news-bottom:hover {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}

.news-bottom-s1 {
	font-size: 14px;
	color: #676767;
}

.news-bottom-s2 {
	font-size: 14px;
	color: #7EA1A6;
	margin-left: -5px;
}

.more-arrow {
	width: 15px;
	height: 7px;
	display: inline-block;
	vertical-align: middle;
	margin: -2px 0 0 5px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/comm-spr.png);
	background-size: 393px 200px;
	background-repeat: no-repeat;
	background-position: -213px -127px;
	-webkit-animation: 1.5s linear infinite;
}

.active-act {
	width: 820px;
	height: 335px;
	float: left;
	margin-top: 50px;
}

.act-top {
	width: 100%;
	height: 35px;
	overflow: visible;
	position: relative;
}

.h2-title {
	position: absolute;
	height: 28px;
	top: 5px;
	left: -6px;
	font-size: 24px;
	line-height: 28px;
	font-weight: 400;
	color: #0B0B0B;
	box-sizing: border-box;
}

.h2-title::before {
	width: 9px;
	height: 28px;
	background-color: #1DA6BA;
	margin-right: 10px;
	content: '\0020';
	display: inline-block;
	vertical-align: middle;
}

.act-top>ul {
	width: 692px;
	height: 35px;
	position: absolute;
	left: 140px;
	box-sizing: border-box;
	border-bottom: 1px #E0E2E2 solid;
}

.act-top>ul>li {
	min-width: 40px;
	height: 37px;
	position: relative;
	float: left;
	cursor: pointer;
	list-style: none;
	text-align: ccenter;
	line-height: 35px;
	font-size: 16px;
	letter-spacing: 1px;
	overflow: visible;
	margin-right: 40px;
}

.href-more {
	height: 35px;
	position: absolute;
	top: 0;
	right: 2px;
	font-size: 12px;
	color: #7EA1A6;
	line-height: 35px;
	display: block;
}

.act-bottom {
	width: 820px;
	height: 278px;
	margin-top: 21px;
}

.act-bottom>ul {
	width: 840px;
	height: 278px;
	position: relative;
}

.act-bottom>ul>li {
	width: 193px;
	height: 278px;
	float: left;
	margin: 0;
	margin-right: 16px;
	list-style: none;
	position: relative;
	overflow: hidden;
	transform: translateY(0);
	transition: transform 0.3s;
	background-color: #FEFEFE;
}

.act-bottom>ul>li>img {
	width: 193px;
	height: 207px;
	display: block;
}

.act-bottom>ul>li>p {
	width: 100%;
	padding: 6px 10px 4px 10px;
	font-size: 14px;
	color: #424242;
	line-height: 18px;
	overflow: hidden;
	text-align: left;
	box-sizing: border-box;
}

.act-overtime {
	position: absolute;
	font-size: 12px;
	color: #1DA6BA;
	left: 10px;
	bottom: 6px;
}

.act-hover-text {
	width: 193px;
	height: 207px;
	background: url(//ossweb-img.qq.com/images/lol/v3/dark70-bg-repeat.png) repeat;
	position: absolute;
	line-height: 207px;
	top: 0;
	left: 0;
	display: none;
	text-align: center;
}

.hover-border {
	width: 188px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -100px;
	margin-left: -94px;
	display: block;
	background-position: 0 0;
}

.act-hover-text-inner {
	position: relative;
	line-height: 1.5px;
	padding: 0 10px;
	display: inline-block;
	vertical-align: middle;
}

.act-hover-text-inner>.p1 {
	font-size: 16px;
	font-weight: 400;
	color: #CDBE91;
}

.act-hover-text-inner>.p2 {
	font-size: 12px;
	color: #9D9C9C;
	max-height: 73px;
	overflow: hidden;
}

.href-mask {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 0;
	display: block;
	cursor: pointer;
}

.href-mask::after {
	content: " ";
	display: block;
	width: 100%;
	height: 100%;
	font-size: 1000px;
}

.active-function {
	width: 496px;
	height: 335px;
	float: right;
	margin-top: 50px;
	position: relative;
}

.active-function>ul>li {
	float: left;
	list-style: none;
}

.function-download {
	width: 366px;
	height: 168px;
	position: relative;
	overflow: hidden;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/pic-download.png);
	transition: filter 0.5s;
}

.function-download>video {
	width: 366px;
	height: 168px;
	display: block;
}

.function-l1 {
	width: 118px;
	height: 76px;
	position: relative;
	margin-left: 12px;
	color: #FFF;
	font-size: 14px;
	font-weight: 700;
	line-height: 76px;
	text-align: center;
	overflow: hidden;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/index-spr.png);
	background-size: 638px 572px;
	background-repeat: no-repeat;
	background-position: -193px -316px;
}

.inner-hover {
	width: 120px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FFF;
	overflow: hidden;
	display: none;
}

.inner-hover>a {
	width: 60px;
	float: left;
	font-size: 12px;
	line-height: 30px;
	color: #424242;
	border-right: 1px #EEE solid;
	box-sizing: border-box;
}

.inner-hover>a>i {
	display: block;
	margin: 18px auto 0 auto;
}

.icon-zhiyin {
	width: 20px;
	height: 21px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/comm-spr.png);
	background-size: 393px 200px;
	background-repeat: no-repeat;
	background-position: -244px -72px;
}

.icon-gift {
	width: 20px;
	height: 20px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/comm-spr.png);
	background-size: 393px 200px;
	background-repeat: no-repeat;
	background-position: -284px -100px;
}

.function-l2 {
	margin: 17px 0 0 12px;
}

.href-type-0 {
	width: 118px;
	height: 76px;
	float: left;
	font-size: 14px;
	color: #FFF;
	font-weight: 700;
	text-align: center;
	line-height: 76px;
	transition: filter 0.5s;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/index-spr.png);
	background-size: 638px 572px;
	background-repeat: no-repeat;
	background-position: -193px -316px;
}

.function-l3 {
	margin: 15px 16px 0 0;
}

.href-type-1 {
	width: 112px;
	height: 68px;
	float: left;
	color: #424242;
	text-align: center;
	line-height: 68px;
	background-color: #FEFEFE;
	transition: box-shadow 0.2s;
}

.icon-kefu {
	width: 25px;
	height: 20px;
	margin: -4px 0 0 -3px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/comm-spr.png);
	background-size: 393px 200px;
	background-repeat: no-repeat;
	background-position: -315px -12px;
	display: inline-block;
	vertical-align: middle;
}

.icon-zxdt {
	width: 21px;
	height: 22px;
	margin: -4px 0 0 -3px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/comm-spr.png);
	background-size: 393px 200px;
	background-repeat: no-repeat;
	background-position: -219px -71px;
	display: inline-block;
	vertical-align: middle;
}

.icon-yxzl {
	width: 21px;
	height: 20px;
	margin: -4px 0 0 -3px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/comm-spr.png);
	background-size: 393px 200px;
	background-repeat: no-repeat;
	background-position: -343px -11px;
	display: inline-block;
	vertical-align: middle;
}

.function-l4 {
	margin-top: 15px;
}

.icon-xgzd {
	width: 24px;
	height: 23px;
	margin: -4px 0 0 -3px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/comm-spr.png);
	background-size: 393px 200px;
	background-repeat: no-repeat;
	background-position: -193px -72px;
	display: inline-block;
	vertical-align: middle;
}

.icon-wxbd {
	width: 26px;
	height: 24px;
	margin: -4px 0 0 -3px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/comm-spr.png);
	background-size: 393px 200px;
	background-repeat: no-repeat;
	background-position: -190px -44px;
	display: inline-block;
	vertical-align: middle;
}

.icon-glzx {
	width: 22px;
	height: 20px;
	margin: -4px 0 0 -3px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/comm-spr.png);
	background-size: 393px 200px;
	background-repeat: no-repeat;
	background-position: -371px -11px;
	display: inline-block;
	vertical-align: middle;
}

.icon-new-1 {
	width: 29px;
	height: 14px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/comm-spr.png);
	background-size: 393px 200px;
	background-repeat: no-repeat;
	background-position: -301px -46px;
	display: inline-block;
	vertical-align: middle;
}

.icon-yuzo {
	width: 22px;
	height: 19px;
	margin: -4px 0 0 -3px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/comm-spr.png);
	background-size: 393px 200px;
	background-repeat: no-repeat;
	background-position: -274px -47px;
	display: inline-block;
	vertical-align: middle;
}

.icon-wjsq {
	width: 22px;
	height: 24px;
	margin: -4px 0 0 -3px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/comm-spr.png);
	background-size: 393px 200px;
	background-repeat: no-repeat;
	background-position: -231px -12px;
	display: inline-block;
	vertical-align: middle;
}

.active-new-championskin {
	width: 820px;
	height: 254px;
	float: left;
	margin-top: 51px;
}

.new-champion {
	width: 402px;
	height: 254px;
	float: left;
	position: relative;
	background-color: #F7F6F6;
}

.new-champion>img {
	width: 402px;
	height: 254px;
}

.pic-mask-0 {
	width: 100%;
	height: 133px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: url(//ossweb-img.qq.com/images/lol/v3/pic-mask-0.png) repeat;
}

.tip-championskin {
	height: 20px;
	position: absolute;
	top: 9px;
	left: 9px;
	padding: 0 6px;
	color: #CDBE91;
	font-size: 12px;
	text-align: center;
	line-height: 19px;
	background-color: #000;
	border-radius: 2px;
	display: block;
}

.intro-championskin {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 33px;
	padding: 0 17px;
	font-size: 16px;
	font-weight: 700;
	color: #CDBE91;
	box-sizing: border-box;
}

.name-championskin {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 12px;
	padding-left: 17px;
	font-size: 14px;
	box-sizing: border-box;
}

.name-championskin>a {
	color: #CFCFCF;
}

.new-champion>.inner-hovers {
	width: 402px;
	height: 254px;
	position: absolute;
	top: 0;
	left: 0;
	background: url(//ossweb-img.qq.com/images/lol/v3/dark70-bg-repeat.png) repeat;
	overflow: hidden;
	z-index: 11;
	display: none;
}

.new-champion>.inner-hovers>.border {
	width: 396px;
	height: 248px;
	position: absolute;
	top: 3px;
	left: 3px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/index-spr.png);
	background-size: 638px 572px;
	background-repeat: no-repeat;
	background-position: 0 0;
	display: block;
}

.new-champion>.inner-hovers>.p1 {
	position: absolute;
	left: 27px;
	top: 20px;
	font-size: 18px;
	color: #CDBE91;
}

.champion-ability {
	width: 450px;
	margin-top: 58px;
	padding-left: 27px;
	box-sizing: border-box;
	overflow: hidden;
}

.champion-ability>li {
	width: 175px;
	height: 30px;
	float: left;
	margin: 0 32px 9px 0;
	line-height: 30px;
	list-style: none;
	font-size: 14px;
	color: #FFF;
	text-align: left;
}

.champion-hard {
	width: 111px;
	height: 4px;
	text-align: left;
	font-size: 0;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
}

.champion-hard>i {
	width: 34px;
	height: 4px;
	float: left;
	margin-right: 3px;
}

.champion-hard>.i1 {
	background: #FFF;
}

.champion-hard>.i2 {
	background: #FFF;
}

.champion-power {
	width: 80px;
	height: 4px;
	background-color: #6C6C6C;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.champion-power>i {
	width: 50%;
	height: 4px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FFF;
	display: block;
}

.new-champion>.inner-hovers>.inner-hover-href {
	width: 154px;
	height: 42px;
	position: absolute;
	left: 25px;
	bottom: 18px;
	color: #FFDB8B;
	font-size: 14px;
	text-align: center;
	line-height: 42px;
	transition: filter 0.5s;
	display: block;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/index-spr.png);
	background-size: 638px 572px;
	background-repeat: no-repeat;
	background-position: -401px -179px;
}

.more-arrow-2 {
	width: 20px;
	height: 7px;
	margin: -2px 0 0 5px;
	-webkit-animation: 1.5s linear infinite;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/comm-spr.png);
	background-size: 393px 200px;
	background-repeat: no-repeat;
	background-position: -362px -100px;
	display: inline-block;
	vertical-align: middle;
}

.new-skin {
	width: 402px;
	height: 254px;
	float: left;
	position: relative;
	margin-left: 16px;
	background-color: #F7F6F6;
}

.new-skin>img {
	width: 402px;
	height: 254px;
}

.new-skin>.inner-hovers-out {
	width: 435px;
	position: absolute;
	margin-left: -217px;
	top: -20px;
	left: 50%;
	background-color: #FFF;
	box-shadow: rgb(170, 170, 170) 0px 0px 20px;
	overflow: hidden;
	z-index: 1;
	display: none;
}

.inner-hovers-out>.p1 {
	width: 270px;
	height: 24px;
	margin-top: 10px;
	padding-left: 11px;
	line-height: 24px;
	text-align: left;
	color: rgb(11, 11, 11);
	font-size: 16px;
	box-sizing: border-box;
	overflow: hidden;
}

.inner-hovers-out>.p2 {
	width: 270px;
	height: 20px;
	margin-bottom: 10px;
	padding-left: 11px;
	line-height: 20px;
	text-align: left;
	color: rgb(161, 161, 162);
	font-size: 12px;
	box-sizing: border-box;
	overflow: hidden;
}

.inner-hovers-out>.a1 {
	width: 86px;
	height: 29px;
	position: absolute;
	right: 10px;
	bottom: 17px;
	border: 1px rgb(187, 154, 108) solid;
	border-image: initial;
	line-height: 27px;
	color: rgb(187, 154, 108);
	font-size: 14px;
	box-sizing: border-box;
	text-align: center;
	display: none;
	overflow: hidden;
	transition: background-color 0.2s ease 0s;
}

.active-version {
	width: 496px;
	height: 255px;
	float: right;
	margin-top: 51px;
	position: relative;
}

.new-version {
	width: 240px;
	height: 120px;
	position: relative;
	margin-bottom: 15px;
	background: rgb(247, 246, 246);
	overflow: hidden;
	display: inline-block;
}

.new-version>img {
	width: 240px;
	height: 120px;
}

.new-version>.inner-hovers-out {
	width: 270px;
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -135px;
	background-color: rgb(255, 255, 255);
	box-shadow: rgb(170, 170, 170) 0px 0px 20px;
	z-index: 1;
	display: none;
	overflow: hidden;
}

.new-version>.inner-hovers-out>img {
	width: 270px;
	height: 186px;
}

.new-version>.hover-video {
	width: 270px;
	height: 186px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.club-developer {
	width: 242px;
	height: 180px;
	position: relative;
	float: right;
	background-color: rgb(247, 246, 246);
}

.club-developer>img {
	width: 242px;
	height: 180px;
}

.club-developer>.inner-hover-border {
	width: 242px;
	height: 180px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	line-height: 180px;
	background: url(//ossweb-img.qq.com/images/lol/v3/dark70-bg-repeat.png) repeat;
	display: none;
}

.inner-hover-border>.hover-border-2 {
	width: 237px;
	height: 174px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -87px;
	margin-left: -118.5px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/index-spr.png);
	background-size: 638px 572px;
	background-repeat: no-repeat;
	background-position: -401px 0px;
}

.inner-hover-border>.inner-hover-border-inner {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	line-height: 1.5;
	box-sizing: border-box;
	padding: 0px 10px;
}

.inner-hover-border>.inner-hover-border-inner>.p1 {
	font-size: 16px;
	font-weight: 400;
	color: rgb(205, 190, 145);
	margin-bottom: 2px;
}

.inner-hover-border>.inner-hover-border-inner>.p2 {
	font-size: 12px;
	color: rgb(157, 156, 156);
	overflow: hidden;
}

.new-model {
	background-color: rgb(247, 246, 246);
	position: relative;
	float: left;
	width: 240px;
	height: 120px;
	margin-top: -5px;
	overflow: visible;
	display: inline-block;
}

.new-model>img {
	width: 240px;
	height: 120px;
}

.new-model>.hover-img {
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
}

.week-free-champion {
	float: right;
	width: 242px;
	height: 58px;
	overflow: visible;
	position: relative;
	margin-top: 16px;
}

.week-free-a {
	display: block;
	background-position: -193px -253px;
	width: 242px;
	height: 58px;
	line-height: 58px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	transition: filter .5s;
	-webkit-filter: brightness(1);
	background-image: url(//ossweb-img.qq.com/images/lol/v3/index-spr.png);
	background-size: 640px 572px;
	background-repeat: no-repeat;
}

.icon-0-left {
	width: 20px;
	height: 9px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/index-spr.png);
	background-size: 638px 572px;
	background-repeat: no-repeat;
	background-position: -531px -226px;
	display: inline-block;
	vertical-align: middle;
	margin: -1px 5px 0 12px;
	opacity: 0.7;
}

.more-arrow-1 {
	width: 15px;
	height: 7px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/comm-spr.png);
	background-size: 393px 200px;
	background-repeat: no-repeat;
	background-position: -342px -100px;
	-webkit-animation: 1.5s linear infinite;
	display: inline-block;
	vertical-align: middle;
	margin: -2px 0 0 5px;
}

.icon-0-right {
	width: 20px;
	height: 9px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/index-spr.png);
	background-size: 638px 572px;
	background-repeat: no-repeat;
	background-position: -506px -226px;
	display: inline-block;
	vertical-align: middle;
	margin: -1px 5px 0 12px;
	opacity: 0.7;
}

.week-free-hover {
	display: none;
	background-color: #fff;
	position: absolute;
	top: 270px;
	box-shadow: 0 0 12px #bbb;
	padding: 6px 5px 10px 5px;
	z-index: 2;
	right: 0;
}

.week-free-hover>.arrow {
	display: block;
	background-position: -556px -226px;
	width: 14px;
	height: 7px;
	position: absolute;
	top: -7px;
	right: 114px;
	z-index: 10;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/index-spr.png);
	background-size: 638px 572px;
	background-repeat: no-repeat;
}

.week-free-hover>ul {
	width: 420px;
	overflow: hidden;
	margin: 0 auto;
}

.week-free-item>img {
	display: block;
	width: 46px;
	height: 46px;
	border: 2px #bb9a6c solid;
	border-radius: 50%;
}

.week-free-item {
	width: auto;
	height: auto;
	overflow: hidden;
	float: left;
	list-style: none;
	margin: 7px 5px 0 5px;
	position: relative;
}

.active-more-skin {
	width: 1358px;
	height: 0;
	transition: height 0.3s, margin-top 0.3s;
	will-chang: height;
	float: left;
	position: relative;
	overflow: hidden;
}

/* .content-video{
	width: 100%;
	min-width: 1358px;
	height: 463px;
	background-color: #E3E2E2;
	padding: 64px 0 66px 0;
}

.video-all{
	width: 1358px;
	height: 463px;
	margin: 0 auto;
}

.video-left{
	width: 820px;
	height: 463px;
	float: left;
	background: #F5D185;
}

.video-right{
	width: 496px;
	height: 454px;
	float: right;
	background: #F5D185;
}

.content-competition{
	width: 100%;
	min-width: 1358px;
	margin: 0 auto;
	padding: 64px 0 80px 0;
	background: red;
}

.content-hero{
	width: 100%;
	min-width: 1358px;
	padding: 66px 0 66px 0;
	position: relative;
	margin-top: 0;
	background-color: #E3E2E2;
	overflow: hidden;
} */

.content-fanart {
	width: 1358px;
	height: 450px;
	margin: -150px auto 0;
	padding: 10px 0 82px 0;
}

.fanart-left {
	width: 820px;
	float: left;
	visibility: visible !important;
}

.fanart-top {
	width: 100%;
	height: 35px;
	overflow: visible;
	position: relative;
}

.h2-title {
	position: absolute;
	width: auto;
	height: 28px;
	top: 5px;
	left: -6px;
	box-sizing: border-box;
	color: #0b0b0b;
	font-size: 24px;
	line-height: 28px;
	font-weight: 400;
}

.fanart-left>ul {
	width: 840px;
	height: 368px;
	position: relative;
	overflow: hidden;
	margin-top: 21px;
	list-style: none;
}

.fanart-left>ul>li {
	list-style: none;
	float: left;
	width: 192px;
	height: 176px;
	position: relative;
	overflow: hidden;
	background-color: #e3e2e2;
	margin: 0 17px 17px 0;
}

.fanart-left>ul>li>a {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}

.fanart-left>ul>li>a>.fanart-img {
	display: block;
	-webkit-transition: transform .3s;
	transition: transform .3s;
	-webkit-transform: scale(1);
	transform: scale(1);
	width: 192px;
	height: 192px;
	position: absolute;
	left: 0;
	top: -8px;
}

.innerhover-bottom {
	width: 100%;
	background: url(//ossweb-img.qq.com/images/lol/v3/dark70-bg-repeat.png) repeat;
	position: absolute;
	bottom: -100%;
	left: 0;
	padding: 0 8px 6px 10px;
	box-sizing: border-box;
	-webkit-transition: bottom .3s;
	transition: bottom .3s;
}

.innerhover-bottom>.p1 {
	width: 100%;
	line-height: 24px;
	font-size: 12px;
	text-align: left;
	padding: 8px 0 8px 2px;
	box-sizing: border-box;
}

.innerhover-bottom>.p1>a {
	color: #fff;
}

.innerhover-bottom>.p2 {
	font-size: 14px;
}

.innerhover-bottom>.p2>a {
	color: #b2b2b2;
}

.innerhover-bottom>.a1 {
	float: left;
}

.innerhover-bottom>.a1>img {
	width: 22px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
	margin-top: -6px;
	margin-right: 4px;
	border-radius: 50%;
}

.innerhover-bottom>.a2 {
	float: right;
	position: relative;
}

.icon-666 {
	background-position: -456px -226px;
	width: 23px;
	height: 17px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/index-spr.png);
	background-size: 638px 572px;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin: -2px 4px 0 4px;
}

.innerhover-bottom>.p2>.tip {
	right: -200px;
	top: -15px;
	position: absolute;
	color: #FFF;
	display: block;
	transition: opacity 1s, top 1s;
}

.fanart-right {
	width: 496px;
	float: right;
}

.fanart-produce {
	width: 241px;
	height: 411px;
	overflow: hidden;
	float: left;
	margin-top: 13px;
	position: relative;
	transition: transform .3s, filter .3s;
	transform: translateY(0);
	-webkit-filter: brightness(1);
}

.fanart-produce>.p1 {
	position: absolute;
	left: 0;
	bottom: 102px;
	text-align: center;
	width: 100%;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	color: #fff;
	font-size: 16px;
}

.icon-1 {
	background-position: -484px -226px;
	width: 17px;
	height: 17px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/index-spr.png);
	background-size: 638px 572px;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin: -2px 5px 0 5px;
}

.fanart-right-right {
	float: right;
	margin-top: 55px;
}

.fanart-right-right>.href-right-1 {
	list-style: none;
	margin-bottom: 16px;
	position: relative;
	display: block;
	width: 240px;
	height: 87px;
	overflow: hidden;
	transition: filter .5s;
	-webkit-filter: brightness(1);
}

.herf-right-1>img {
	position: absolute;
	left: 0;
	top: 0;
}

.href-right-1>a {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 16px;
	line-height: 87px;
}

.href-partner {
	display: block;
	background-position: -193px -253px;
	width: 239px;
	height: 58px;
	line-height: 58px;
	overflow: visible;
	position: relative;
	z-index: 2;
	float: right;
	margin-top: 2px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/index-spr.png);
	background-size: 638px 572px;
	background-repeat: no-repeat;
}

.href-partner>a {
	color: #fff;
	line-height: 58px;
	font-size: 16px;
	display: block;
	text-align: center;
}

.lol-foot {
	width: 100%;
	min-width: 1230px;
	padding: 45px 0;
	background: #e3e2e2;
	height: 175px;
}

.foot-all {
	max-width: 1358px;
	min-width: 1230px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	background-color: #e3e2e2;
	font: 12px/20px "微软雅黑", "宋体";
	min-width: 960px;
	margin: 0 auto;
	text-align: left;
	padding: 15px 20px;
}

.foot-left {
	display: block;
	height: 100px;
	width: auto;
	line-height: 100px;
	font-size: 0;
	text-align: left;
	position: absolute;
	left: 80px;
	top: 55%;
	margin-top: -50px;
	float: left;
}

.foot-left>.foot-ieg-logo {
	background-position: -216px 0;
	width: 189px;
	height: 34px;
	float: none;
	display: inline-block;
	vertical-align: middle;
	margin: 0 24px 0 8px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/topfoot-spr.png);
	background-size: 405px 178px;
	background-repeat: no-repeat;
}

.foot-left>.foot-logo-riot {
	background-position: -216px -84px;
	width: 83px;
	height: 56px;
	float: none;
	display: inline-block;
	vertical-align: middle;
	margin: 0 24px 0 8px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/topfoot-spr.png);
	background-size: 405px 178px;
	background-repeat: no-repeat;
}

.foot-right {
	width: 750px;
	display: inline;
	float: right;
	margin-right: 50px;
}

.foot-right>ul {
	width: 750px;
	display: inline;
	float: right;
	list-style: none;
}

.foot-right>ul>li {
	color: #9F9378;
	line-height: 20px;
	overflow: hidden;
}

.link-map {
	font-size: 0;
}

.foot-right>ul>li>a {
	color: #9F9378;
}

.link-map>a {
	font-size: 12px;
}

.link-map>span {
	font-size: 12px;
}

.f-line {
	color: #9F9378;
	margin: 0 2px;
}

.copy-txt {
	font-size: 10px;
	line-height: 20px;
}

.head-nav-sub {
	z-index: -30;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	overflow: hidden;
	background: url(//ossweb-img.qq.com/images/lol/v3/dark60-bg-repeat.png) repeat;
	padding: 88px 0 32px 0;
}

.head-nav-sub>.head-nav-sub-inner {
	width: 100%;
	max-width: 1358px;
	min-width: 1230px;
	height: auto;
	margin: 0 auto;
}

.sub-inner-ul {
	width: 55%;
	overflow: hidden;
	margin-left: 161px;
}

.sub-inner-ul>li {
	list-style: none;
	width: 20%;
	float: left;
	height: auto;
	overflow: visible;
}

.head-nav-sub-a {
	display: block;
	width: 100%;
	height: 29px;
	overflow: hidden;
	line-height: 29px;
	color: #e1e1e1;
	font-size: 14px;
	text-align: center;
}

.selected {
	font-weight: 700;
	color: #1da6ba;
}

.selected-turn {
	font-weight: 400;
	color: #676767;
}

.rightnav-bar.show {
	right: 0;
}

.rightnav-bar {
	width: 70px;
	height: auto;
	box-sizing: border-box;
	padding-top: 6px;
	overflow: hidden;
	position: fixed;
	bottom: 18%;
	background-color: #fff;
	border-radius: 9px 0 0 9px;
	transition: right .5s .2s;
	z-index: 199;
}

.rightnav-bar>ul {
	margin-left: 4px;
	height: 182px;
	overflow: hidden;
	padding-bottom: 18px;
	box-sizing: border-box;
	transition: height 1s .2s ease;
}

.rightnav-bar-li {
	list-style: none;
	width: 66px;
	cursor: pointer;
	text-align: center;
	margin-bottom: 6px;
}

.rightnav-bar-li span {
	display: block;
	width: 66px;
	height: 35px;
	text-align: center;
	line-height: 35px;
}

.rightnav-bar-li i {
	display: inline-block;
	vertical-align: middle;
}

.rightnav-bar-li a {
	color: #92a8ab;
	font-size: 12px;
	text-align: center;
}

.rn-rmhd i {
	background-position: -243px -71px;
	width: 20px;
	height: 20px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/comm-spr.png);
	background-size: 393px 200px;
	background-repeat: no-repeat;
}

.rn-fanart i {
	background-position: -220px -46px;
	width: 22px;
	height: 19px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/comm-spr.png);
	background-size: 393px 200px;
	background-repeat: no-repeat;
}

.rn-polo i {
	background-position: -193px -12px;
	width: 33px;
	height: 29px;
	background-image: url(//ossweb-img.qq.com/images/lol/v3/comm-spr.png);
	background-size: 393px 200px;
	background-repeat: no-repeat;
}
